@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

canvas {
  /* width: 100% !important; */
  /* height: 100% !important; */
}
.canvas-control > canvas {
  width: 100% !important;
  height: 100% !important;
}
.active-div {
  transform: rotate(45deg);
  right: 0;
  margin-right: -34px;
}
.profile-image {
  bottom: -50%;
}
