@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  scrollbar-width: none;
  font-family: Montserrat, helvetica neue, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::webkit-scrollbar {
  display: none !important;
}
code {
  font-family: Montserrat, helvetica neue, Arial, sans-serif;
}
